<div class="card">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="construction">Công trình</label>
                    <p-dropdown [options]="dropdownConstructionItems" optionLabel="name" ></p-dropdown>
                </div>
                <div class="field">
                    <label htmlFor="status">Trạng thái</label>
                    <p-dropdown [options]="dropdownRequestStatusItems" optionLabel="name" ></p-dropdown>
                </div>
            </div>
        </div>
    
        <div class="col-12 md:col-6">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="Mã VT">Mô tả</label>
                    <input pInputText id="description" type="text"/>
                </div>
                <div class="field">
                    <label htmlFor="requestStatus">Tên VT</label>
                    <input pInputText id="nameItem" type="text"/>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-start justify-content-center m-2">
                </div>
                
                <div class="flex align-items-end flex-wrap justify-content-center">
                    <div class="m-2">
                        <button pButton pRipple type="button" label="Tìm kiếm" class="p-button-raised p-button-info" m-2 px-5 py-3 justify-content-center></button>
                    </div>
                    <div class="m-2">
                        <p-confirmDialog #cd [style]="{width: '30vw'}">
                            <ng-template pTemplate="header">
                                <h2>Xác nhận xóa</h2>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <button type="button" pButton icon="pi pi-times" label="Không" (click)="cd.reject()"></button>
                                <button type="button" pButton icon="pi pi-check" label="Có" (click)="cd.accept()"></button>
                            </ng-template>
                        </p-confirmDialog>
                        <p-button (click)="confirm()" icon="pi pi-times" label="Xóa" m-2 px-5 py-3 justify-content-center></p-button>    
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">  
                        <p-table [value]="constructionItemsList">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="provider">Nhà cung cấp<p-sortIcon field="code"></p-sortIcon></th>
                                    <th pSortableColumn="codeItem">Mã VT<p-sortIcon field="name"></p-sortIcon></th>
                                    <th pSortableColumn="nameItem">Tên VT<p-sortIcon field="receiver"></p-sortIcon></th>
                                    <th pSortableColumn="size">Kích thước<p-sortIcon field="coSender"></p-sortIcon></th>
                                    <th pSortableColumn="description">Mô tả<p-sortIcon field="place"></p-sortIcon></th>
                                    <th pSortableColumn="dvt">DVT<p-sortIcon field="pycNum"></p-sortIcon></th>
                                    <th pSortableColumn="style">Qui cách<p-sortIcon field="pycNum"></p-sortIcon></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-constructionItemsList>
                                <tr>
                                    <td>{{constructionItemsList.provider}}</td>
                                    <td>{{constructionItemsList.codeItem}}</td>
                                    <td>{{constructionItemsList.nameItem}}</td>
                                    <td>{{constructionItemsList.size}}</td>
                                    <td>{{constructionItemsList.description}}</td>
                                    <td>{{constructionItemsList.dvt}}</td>
                                    <td>{{constructionItemsList.style}}</td>
                                    <td><p-checkbox [binary]="true" inputId="binary"></p-checkbox> 
                                        <label for="binary"></label></td>
                                    <td><p-button label="{{constructionItemsList.isEdit}}" styleClass="p-button-link"></p-button></td>
                                    <td><p-button label="{{constructionItemsList.isDelete}}" styleClass="p-button-link"></p-button></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
            </div>
        </div>
    </div>
    </div>
    
</div>
