<div class="card">
    <div class="grid">
        <div class="col-12 md">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="construction">Chọn file</label>
                    <input pInputText id="filePath" type="text"/>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-8">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="construction">Công trình</label>
                    <p-dropdown [options]="dropdownConstructionItems" optionLabel="name" ></p-dropdown>
                </div>
            </div>
        </div>
    
        <div class="col-12 md:col-4">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="pycNumber">Số PYC</label>
                    <p-dropdown [options]="dropdownPYCNumberItems" optionLabel="name" ></p-dropdown>
                </div>
            </div>
        </div>
    
        <div class="col-12">
                <div class="card">  
                    <p-table [value]="itemsDetailRow">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="name">Tên VT<p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="size">Kích thước<p-sortIcon field="size"></p-sortIcon></th>
                                <th pSortableColumn="place">Mô tả<p-sortIcon field="coSender"></p-sortIcon></th>
                                <th pSortableColumn="place">Qui cách<p-sortIcon field="place"></p-sortIcon></th>
                                <th pSortableColumn="pycNum">DVT<p-sortIcon field="pycNum"></p-sortIcon></th>
                                <th pSortableColumn="status">Số lượng<p-sortIcon field="status"></p-sortIcon></th>
                                <th pSortableColumn="status">Mục đích sử dụng<p-sortIcon field="status"></p-sortIcon></th>
                                <th></th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemsDetailRow>
                            <tr>
                                <td>{{itemsDetailRow.name}}</td>
                                <td>{{itemsDetailRow.size}}</td>
                                <td>{{itemsDetailRow.description}}</td>
                                <td>{{itemsDetailRow.style}}</td>
                                <td>{{itemsDetailRow.dvt}}</td>
                                <td>{{itemsDetailRow.num}}</td>
                                <td>{{itemsDetailRow.useFor}}</td>
                                <td><p-button label="{{itemsDetailRow.isDelete}}" styleClass="p-button-link"></p-button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-start justify-content-center m-2">
                    <button pButton pRipple type="button" label="Lưu phiếu yêu cầu" class="p-button-raised" m-2 px-5 py-3 justify-content-center [routerLink]="['/create-request-order']"></button>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="receiver">Người nhận hàng</label>
                    <p-dropdown [options]="dropdownReceiverItems" optionLabel="name" ></p-dropdown>
                </div>
                <div class="field">
                    <label htmlFor="deliveryPlace">Nơi nhận hàng</label>
                    <input pInputText id="deliveryPlace" type="text" />
                </div>
            </div>
        </div>
    
        <div class="col-12 md:col-6">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="neededDate">Ngày cần</label>
                    <p-calendar inputId="neededDate" [showIcon]="true"></p-calendar>
                </div>

                <div class="field">
                    <label htmlFor="createDate">Ngày tạo</label>
                    <p-calendar [(ngModel)]="currentDate" inputId="createDate" [showIcon]="true"></p-calendar>
                </div>
                
            </div>
        </div>

    </div>
    
</div>